{% extends "base_template.html" %}
{% block title %}My Profile{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<h1>USER PROFILE PAGE TEST</h1>

<h3> Welcome to the website, {{username}}</h3>

<form class="form-inline my-2 my-lg-0" action="/logout" method="get">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
</form>

{% endblock %}